<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Events</h1>
    <ul>
        <% events.forEach(event => { %>
            <li>
                <!-- Link to individual event page -->
                <a href="/events/<%= event._id %>">
                    <!-- Display event name and status -->
                    <%= event.name %> - <%= event.approval_status %>
                </a>
            </li>
           <% }) %> 
        </ul>
    </body>
    </html> -->